@Styles.Render("~/Styles/Index/Index.css")
<div class="index-content">

    <div class="menu-panel">
        <div class="panel-image">
            <img src="../../Resources/Images/information_one.png" alt="Aparat" />
        </div>
        <div class="panel-description">
            <div class="desc-main"><p>Sprawdzaj informacje</p></div>
            <div class="desc-extend">
                <p>
                    W serwisie zebrane są wszelkie informacje o warszawskich boiskach.
                    Między innymi można dowiedzieć się o godzinach otwarcia, obecności oświetlenia, wymiarach boiska oraz rodzaju nawierzchni.
                </p>

            </div>
        </div>
    </div>
    <div class="menu-panel">
        <div class="panel-image">
            <img src="../../Resources/Images/calendar_one.png" alt="Aparat" />
        </div>
        <div class="panel-description">
            <div class="desc-main"><p>Rezerwuj boiska</p></div>
            <div class="desc-extend">
                <p>
                    Z łatwością, bez zbędnych rejestracji można zarezerwować boisko na konkretną godzinę.
                    Wszystko odbędzie się przez Twój adres e-mail.
                </p>
            </div>
        </div>
    </div>
    <div class="menu-panel">
        <div class="panel-image">
            <img src="../../Resources/Images/camera_one.png" alt="Aparat" />
        </div>
        <div class="panel-description">
            <div class="desc-main"><p>Podglądaj dostępność</p></div>
            <div class="desc-extend">
                <p>
                    Dla każdego boiska posiadającego moduł z kamerą możesz obserwować na żywo czy w danej chwili jest ono zajęte, czy wolne.
                </p>
            </div>
        </div>
    </div>


</div>

